<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>JS intro</title>
    <link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
</head>
<body>

<div class="w3-container">
    <h3 id="welcome" onclick="sayHello()"></h3>
    <input id = "date" type="text" placeholder="date"/><br>
    <input id = "month" type="text" placeholder="month"/><br>
    <input id = "year" type="text" placeholder="year"/><br><br>
    <button id="submit" onclick="zodiac()">Xem kết quả</button>
    <br>
    <h2 id="result1" class="w3-text-blue "></h2>
    <p id="result2"></p>
    <script type="text/javascript" src="../static/main.js">
    </script>
</div>
</body>
</html>